/*! normalize.css v3.0.0 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.textjustify{
    text-align: justify;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

@font-face {
    font-family: 'AzoSansBold';
    src: url('./fonts/azosans/AzoSans-Bold.woff2') format('woff2'),
        url('./fonts/azosans/AzoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSansMedium';
    src: url('./fonts/azosans/AzoSans-Medium.woff2') format('woff2'),
        url('./fonts/azosans/AzoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSans';
    src: url('./fonts/azosans/AzoSans-Regular.woff2') format('woff2'),
        url('./fonts/azosans/AzoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSansLite';
    src: url('./fonts/azosans/AzoSans-Light.woff2') format('woff2'),
        url('./fonts/azosans/AzoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSansThin';
    src: url('./fonts/azosans/AzoSans-Thin.woff2') format('woff2'),
        url('./fonts/azosans/AzoSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSansBlack';
    src: url('./fonts/azosans/AzoSans-Black.woff2') format('woff2'),
        url('./fonts/azosans/AzoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

img {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  outline: none;
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  font-family: 'AzoSans' !important;
  font-weight: normal;
  overflow-x: hidden;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
a {
  text-decoration: none !important;
}
.alinhacentro {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.clear {
  clear: both;
}
.backgroundcover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.transicao {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.menu-switch {
  float: left;
  left: -52px;
  position: absolute;
  color: #21292a;
  background: none;
  padding: 10px 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 28px;
  display: none;
  cursor: pointer;
  top: 0;
  z-index: 999;
}
@media (min-width: 320px) and (max-width: 960px) {
  .menu-switch {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 960px) {
  .menu-switch {
    display: block;
  }
}
nav#menuresponsivo {
  right: -250px;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 9999;
  background: #ebe6dd;
}
nav#menuresponsivo li.title {
  padding: 7px 5%;
  background: #21292a;
  color: #FFF !important;
  font-weight: bold;
}
nav#menuresponsivo li {
  float: left;
  width: 100%;
  clear: both;
  font-size: 17px;
}
nav#menuresponsivo li a {
  float: left;
  clear: both;
  width: 100%;
  padding: 10px 5%;
  color: #21292a;
  font-weight: 600;
}
nav#menuresponsivo li a:hover {
  background: #21292a;
  color: #FFF;
}
.menu-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
}
section#site {
  float: left;
  overflow: hidden;
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
section#menubomile {
  width: 250px;
  float: right;
}
header {
  float: left;
  width: 100%;
  z-index: 9997;
  height: 60px;
  background: #ebe6dd;
  border-bottom: 3px solid #f4f3eb;
  position: fixed;
  top: 0;
}
@media (max-width: 768px) {
  header {
    -webkit-box-shadow: 0 0 30px #CCC;
    -moz-box-shadow: 0 0 30px #CCC;
    box-shadow: 0 0 30px #CCC;
  }
}
header #logo {
  margin-top: 13px;
}
header nav#menu {
  float: left;
  margin-top: 18px;
}
header nav#menu li {
  float: left;
  font-size: 15px;
  font-family: 'AzoSansLite';
  margin-left: 25px;
}
header nav#menu li:first-child {
  margin-left: 0;
}
header nav#menu li a {
  color: #21292a;
  padding-bottom: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 4px solid transparent;
}
header nav#menu li a:hover {
  border-color: #f4f3eb;
}
header #sociais-top {
  float: right;
  margin-top: 18px;
}
header #sociais-top a {
  float: left;
  margin: 0 5px;
  color: #21292a;
}
header #sociais-top a .fab {
  font-size: 20px;
}
#cboxOverlay {
  background: url('../images/overlay.png') repeat 0 0;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
#colorbox {
  outline: 0;
  z-index: 9999;
}
#cboxContent {
  overflow: visible;
  background: #FFF;
}
.cboxIframe {
  background: #fff;
  width: 100%;
  height: 100%;
}
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
#cboxLoadedContent {
  background: #FFF;
}
#cboxLoadingGraphic {
  background: url('../images/loading.gif') no-repeat center center;
}
#cboxLoadingOverlay {
  background: #000;
}
#cboxTitle {
  display: none;
}
.cboxPhoto {
  padding: 10px;
}
#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url('../images/controls.png') no-repeat 0 0;
}
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}
#cboxPrevious {
  background: url('../images/colorbox_prev.png') center no-repeat;
  width: 38px;
  height: 37px;
  left: 10px;
  top: 50%;
  position: absolute;
}
#cboxNext {
  background: url('../images/colorbox_next.png') center no-repeat;
  width: 38px;
  height: 37px;
  right: 10px;
  top: 50%;
  position: absolute;
}
#cboxClose {
  background: url('../images/btn_close.png') center no-repeat;
  width: 45px;
  height: 45px;
  right: 10px;
  top: 10px;
}
.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious {
  right: 66px;
}
.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px;
}
.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px;
}
#loader {
  z-index: 999999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/carregando.gif') 50% 50% no-repeat #FFF;
}
section#conteudopagina {
  min-height: 560px;
  float: left;
  width: 100%;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 960px) {
  section#conteudopagina {
    margin-top: 60px;
  }
}
section#conteudopagina .msg {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #21292a;
  font-family: 'AzoSans';
}
section#banner {
  float: left;
  width: 100%;
}
@media (max-width: 768px) {
  section#banner {
    margin-top: 60px;
  }
}
section#banner a.bx-prev {
  background: url('../images/btn_prev.png') no-repeat !important;
  width: 30px;
  height: 63px;
  z-index: 1;
}
section#banner a.bx-next {
  background: url('../images/btn_next.png') no-repeat !important;
  width: 30px;
  height: 63px;
  z-index: 1;
}
section#banner li {
  position: relative;
  height: 900px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 768px) {
  section#banner li {
    height: 400px;
  }
}
section#banner li .sobrebanner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #FFF;
}
@media (max-width: 768px) {
  section#banner li .sobrebanner {
    text-align: center;
  }
}
section#banner li .sobrebanner h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: 'AzoSans' !important;
}
@media (max-width: 768px) {
  section#banner li .sobrebanner h2 {
    font-size: 18px;
  }
}
section#banner li .sobrebanner p {
  font-size: 15px;
  line-height: 30px;
  font-family: 'AzoSansLite';
}
@media (max-width: 768px) {
  section#banner li .sobrebanner p {
    font-size: 13px;
  }
}
section#banner li .sobrebanner a.btn-saibamais {
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 15px;
  font-family: 'AzoSansLite';
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: inline-block;
  margin-top: 30px;
}
section#banner li .sobrebanner a.btn-saibamais:hover {
  background: #21292a;
  color: #FFF;
}
section#banner li .sobrebanner a.btn-saibamais .fas {
  margin-left: 10px;
}
.titulopag {
  text-align: center;
  margin-bottom: 40px;
}
.titulopag h2 {
  font-family: 'AzoSansMedium';
  margin-top: 15px;
  font-size: 28px;
  color: #21292a;
}
section#sobre-home,
#sobre-tratamentos {
  float: left;
  width: 100%;
  padding: 70px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ebe6dd;
  font-family: 'AzoSansLite';
}
section#sobre-home p,
#sobre-tratamentos p {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 16px;
}
section#institucional {
  float: left;
  width: 100%;
  padding: 70px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ebe6dd;
  font-family: 'AzoSansLite';
}
section#institucional p {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 16px;
}
section#institucional h2 {
  margin-bottom: 20px;
  font-family: 'AzoSansMedium';
}
section#institucional h3 {
  font-size: 20px;
  margin: 20px 0;
  font-family: 'AzoSansMedium';
}
.saibamais {
  text-align: center;
  margin-top: 40px;
}
.saibamais a {
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #21292a;
  color: #21292a;
  font-size: 15px;
  font-family: 'AzoSans' !important;
  display: inline-block;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.saibamais a:hover {
  background: #21292a;
  color: #FFF;
}
.saibamais a .fas {
  margin-left: 10px;
}
section#case-home {
  float: left;
  width: 100%;
  min-height: 700px;
  background: url('../images/bg01.jpg') center no-repeat;
  color: #FFF;
}
@media (max-width: 768px) {
  section#case-home {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
  }
}
section#case-home h2 {
  font-size: 40px;
  font-family: 'AzoSansLite';
  margin-bottom: 20px;
  margin-top: 50%;
}
@media (max-width: 768px) {
  section#case-home h2 {
    margin-top: 10%;
  }
}
section#case-home p {
  font-size: 14px;
  font-family: 'AzoSansLite';
}
section#case-home a.btn-saibamais {
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 15px;
  font-family: 'AzoSansLite';
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: inline-block;
  margin-top: 30px;
}
section#case-home a.btn-saibamais:hover {
  background: #21292a;
  color: #FFF;
}
section#case-home a.btn-saibamais .fas {
  margin-left: 10px;
}
section#dicas-home {
  float: left;
  width: 100%;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../images/bg02.jpg') center top no-repeat;
}
@media (max-width: 768px) {
  section#dicas-home {
    background: #ded1c1;
  }
}
section#dicas-home .box-dicas {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
section#dicas-home .box-dicas img {
  width: 100%;
  margin-bottom: 15px;
}
section#dicas-home .box-dicas a {
  color: #21292a;
}
section#dicas-home .box-dicas h3 {
  font-size: 20px;
  font-family: 'AzoSansMedium';
  margin-bottom: 10px;
  display: inline-block;
}
footer {
  float: left;
  width: 100%;
  background: #21292a;
  color: #ebe6dd;
  font-family: 'AzoSansLite';
}
footer a {
  color: #ebe6dd;
  margin-right: 10px;
}
footer a .fab {
  font-size: 20px;
}
footer #footer-top {
  float: left;
  width: 100%;
  padding: 40px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 3px solid #f4f3eb;
  border-bottom: 3px solid #f4f3eb;
}
footer #footer-top h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  footer #footer-top .box-footer {
    margin-bottom: 30px;
  }
}
footer #footer-top p {
  font-size: 14px;
  margin-bottom: 5px;
}
footer #footer-top p span {
  font-size: 12px;
}
footer #menufooter {
  float: left;
  width: 100%;
  border-bottom: 3px solid #f4f3eb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
footer #menufooter #icon-btl {
  float: left;
  background: #ebe6dd;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer #menufooter li {
  display: inline-block;
  margin: 10px;
  font-size: 16px;
  padding: 12px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer #menufooter li a {
  color: #ebe6dd;
}
footer #footer-bottom {
  float: left;
  width: 100%;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
}
footer #footer-bottom .desenvolvimento {
  text-align: right;
}
@media (max-width: 768px) {
  footer #footer-bottom .desenvolvimento {
    text-align: left;
    margin-top: 10px;
  }
}
.line-hr {
  margin: 40px 0;
  text-align: center;
}
section#contato {
  float: left;
  width: 100%;
  padding: 30px 0;
  min-height: 500px;
  margin-top: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../images/bgcontato.jpg') center no-repeat #ebe6dd;
}
@media (max-width: 768px) {
  section#contato {
    background: #ebe6dd;
  }
}
section#contato #formulario .pd0 {
  padding: 0;
}
section#contato #formulario span {
  font-size: 13px;
  font-family: 'AzoSansMedium';
  color: #21292a;
  margin-bottom: 10px;
}
section#contato #formulario input[type='text'] {
  float: left;
  width: 100%;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  border: none;
  margin-bottom: 15px;
}
section#contato #formulario textarea {
  float: left;
  width: 100%;
  height: 150px;
  resize: none;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  border: none;
  margin-bottom: 15px;
}
section#contato #formulario input[type='submit'] {
  float: left;
  width: 100%;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-family: 'AzoSansLite';
  font-size: 17px;
  color: #FFF;
  background: #21292a;
}
section#contato #dados-contato {
  float: left;
  width: 100%;
}
section#contato #dados-contato h2 {
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'AzoSansBold';
}
section#contato #dados-contato p {
  margin-bottom: 5px;
}
section#contato #dados-contato p span {
  font-size: 13px;
}
section#mapa {
  float: left;
  width: 100%;
  margin-bottom: -10px;
}
section#cases-list {
  float: left;
  width: 100%;
  background: url('../images/bglogos.png') repeat #ebe6dd;
  margin-top: 60px;
}
section#cases-list .container {
  background: #fefefa;
  padding: 30px;
  min-height: 500px;
}
section#cases-list .box-dicas-case {
  width: 100%;
  float: left;
  color: #666665;
  text-align: center;
  background: #FFF;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  section#cases-list .box-dicas-case {
    margin-bottom: 30px;
    background: #ebe6dd;
    padding: 30px;
  }
}
section#cases-list .box-dicas-case img.imgcapa {
  width: 100%;
}
section#cases-list .box-dicas-case .pd0 {
  padding: 0;
}
section#cases-list .box-dicas-case img.aspas {
  margin: 40px 0;
  display: inline-block;
}
@media (max-width: 768px) {
  section#cases-list .box-dicas-case img.aspas {
    height: 20px;
    margin: 10px 0;
  }
}
section#cases-list .box-dicas-case h2 {
  font-family: 'AzoSansBold';
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  section#cases-list .box-dicas-case h2 {
    font-size: 20px;
  }
}
section#cases-list .box-dicas-case p {
  margin-bottom: 20px;
  font-family: 'AzoSansLite';
  font-size: 15px;
}
section#cases-list .box-dicas-case p a {
  color: #21292a;
  font-family: 'AzoSansMedium';
}
section#blog-list {
  float: left;
  width: 100%;
  background: url('../images/bglogos.png') repeat #ebe6dd;
  margin-top: 60px;
}
section#blog-list .container {
  background: #fefefa;
  padding: 30px;
  min-height: 500px;
}
section#blog-list .pd0 {
  padding: 0;
}
section#blog-list .tituloblog {
  margin-bottom: 40px;
}
section#blog-list .tituloblog h1 {
  font-family: 'AzoSans';
  font-size: 35px;
}
section#blog-list a {
  color: #21292a;
}
section#blog-list h2 {
  font-family: 'AzoSansMedium';
  font-size: 20px;
  margin-bottom: 10px;
}
section#blog-list p {
  margin-bottom: 15px;
  font-size: 15px;
  font-family: 'AzoSansLite';
}
section#blog-list img.capapost {
  margin: 10px 0;
}
section#blog-list hr {
  float: left;
  width: 100%;
  border: 1px solid #ececec;
}
.sidebar strong {
  font-family: 'AzoSansBold';
  font-size: 17px;
}
.sidebar ul.categorias-arquivos {
  margin: 15px 0;
  float: left;
  width: 100%;
}
.sidebar ul.categorias-arquivos strong {
  margin-bottom: 10px;
  float: left;
  width: 100%;
  font-family: 'AzoSansLite';
}
.sidebar ul.categorias-arquivos li {
  float: left;
  width: 100%;
  font-family: 'AzoSansLite';
  font-size: 15px;
  clear: both;
  margin-bottom: 5px;
}
.sidebar ul.categorias-arquivos li a {
  color: #21292a;
}
#formulario-busca {
  float: left;
  width: 100%;
  border: 2px solid #ebe6dd;
  background: #FFF;
  margin: 10px 0 30px;
}
#formulario-busca input[type="text"] {
  float: left;
  padding: 14px 10px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  width: 85%;
  border: none;
  outline-style: none;
}
@media (max-width: 768px) {
  #formulario-busca input[type="text"] {
    width: 80%;
  }
}
#formulario-busca button[type="submit"] {
  float: right;
  font-size: 20px;
  color: #21292a;
  border: none;
  background: none;
  padding: 6px 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline-style: none;
}
