@import 'modules/lesshat';

img{outline: none;}
h1,h2,h3,h4,h5,p{margin: 0; padding: 0;}
ol,ul,li{list-style: none;}
ul{margin: 0; padding: 0;}
a{outline: none; text-decoration: none;}
@white: #FFF;
@black: #000;
@cinza: #21292a;
@bege: #ebe6dd;
@fonte: 'AzoSans';
@fontelight: 'AzoSansLite';
@fontethin: 'AzoSansThin';
@fontebold: 'AzoSansBold';
@fontemedium: 'AzoSansMedium';
@fonteblack: 'AzoSansBlack';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body{
  font-family: @fonte !important;
  font-weight: normal;
  overflow-x: hidden;
  .box-sizing(border-box) !important;
}
a{
  text-decoration: none !important;
}
.alinhacentro{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.clear{
  clear: both;
}
.backgroundcover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.transicao{
  .transition(all .8s ease);
}
.menu-switch{
  float: left;
  left: -52px;
  position: absolute;
  color: @cinza;
  background: none;
  padding: 10px 14px;
  .box-sizing(border-box);
  font-size: 28px;
  display: none;
  cursor: pointer;
  top: 0;
  z-index: 999;
  @media(min-width: 320px) and (max-width: 960px){
    display: block;
  }
  @media(min-width: 320px) and (max-width: 960px){
    display: block;
  }
}

nav#menuresponsivo{
  right: -250px;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 9999;
  background: @bege;    
  li.title{
    padding: 7px 5%;
    background: @cinza;
    color: @white !important; 
    font-weight: bold;
  }
  li{
    float: left;
    width: 100%;
    clear: both;
    font-size: 17px;
    a{
      float: left;
      clear: both;
      width: 100%;
      padding: 10px 5%;
      color: @cinza;
      font-weight: 600;
      &:hover{
        background: @cinza;
        color: @white;
      }
    }
  }
}
.menu-overlay{
  display: none;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
}
section#site{
  float: left;
  overflow: hidden;
  position: absolute;
  width: 100%;
  .transicao;
}
section#menubomile{
  width: 250px;
  float: right;
}
header{
  float: left;
  width: 100%;
  z-index: 9997;
  height: 60px;
  background: @bege;
  border-bottom: 3px solid #f4f3eb;
  position: fixed;
  top: 0;
  @media(max-width: 768px){
    .box-shadow(0 0 30px #CCC);
  }
  #logo{
    margin-top: 13px;
  }
  nav#menu{
    float: left;
    margin-top: 18px;
    li{
      float: left;
      font-size: 15px;
      font-family: @fontelight;
      margin-left: 25px;
      &:first-child{
        margin-left: 0;
      }
      a{
        color:@cinza;
        padding-bottom: 16px;
        .box-sizing(border-box);
        border-bottom: 4px solid transparent;
        &:hover{
          border-color: #f4f3eb;
        }
      }
    }
  }
  #sociais-top{
    float: right;
    margin-top: 18px;
    a{
      float: left;
      margin: 0 5px;
      color: @cinza;
      .fab{
        font-size: 20px;
      }
    }
  }
}

#cboxOverlay{background:url('../images/overlay.png') repeat 0 0; top:0; left:0; z-index:9999; overflow:hidden; position: fixed;  width: 100%; height: 100%;}
#colorbox{outline:0; z-index: 9999;}
#cboxContent{overflow:visible; background: @white;}
.cboxIframe{background:#fff; width: 100%; height: 100%;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{background: #FFF;}
#cboxLoadingGraphic{background:url('../images/loading.gif') no-repeat center center;}
#cboxLoadingOverlay{background:#000;}
#cboxTitle{display: none;}
.cboxPhoto{padding: 10px;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url('../images/controls.png') no-repeat 0 0;}
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxPrevious{background: url('../images/colorbox_prev.png') center no-repeat; width: 38px; height: 37px; left: 10px; top: 50%; position: absolute;}
#cboxNext{background: url('../images/colorbox_next.png') center no-repeat; width: 38px; height: 37px; right: 10px; top: 50%;  position: absolute;}
#cboxClose{background: url('../images/btn_close.png') center no-repeat; width: 45px; height: 45px; right: 10px; top: 10px;}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}

#loader{
  z-index: 999999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/carregando.gif') 50% 50% no-repeat @white;
}
section#conteudopagina{
  min-height: 560px;
  float: left;
  width: 100%;
  padding: 50px 0;
  .box-sizing(border-box);
  @media(max-width: 960px){
    margin-top: 60px;
  }
  .msg{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: @cinza;
    font-family: @fonte;
  }
}
section#banner{
  float: left;
  width: 100%;
  @media(max-width: 768px){
    margin-top: 60px;
  }
  a.bx-prev{
    background: url('../images/btn_prev.png')no-repeat !important;
    width: 30px;
    height: 63px;
    z-index: 1;
  }
  a.bx-next{
    background: url('../images/btn_next.png')no-repeat !important;
    width: 30px;
    height: 63px;
    z-index: 1;
  }
  li{
    position: relative;
    height: 900px;
    .backgroundcover;
    @media(max-width: 768px){
      height: 400px;
    }
    .sobrebanner{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      .alinhacentro;
      color: @white;
      @media(max-width: 768px){
        text-align: center;
      }
      h2{
        font-size: 40px;
        margin-bottom: 10px;
        font-family: @fonte !important;
        @media(max-width: 768px){
          font-size: 18px;
        }
      }
      p{
        font-size: 15px;
        line-height: 30px;
        font-family: @fontelight;
        @media(max-width: 768px){
          font-size: 13px;
        }
      }
      a.btn-saibamais{
        padding: 15px 30px;
        .box-sizing(border-box);
        border:1px solid @white;
        color: @white;
        font-size: 15px;
        font-family: @fontelight;
        display: inline-block;
        .transicao;
        display: inline-block;
        margin-top: 30px;
        &:hover{
          background: @cinza;
          color: @white;
        }
        .fas{
          margin-left: 10px;
        }
      }
    }
  }
}
.titulopag{
  text-align: center;
  margin-bottom: 40px;
  h2{
    font-family: @fontemedium;
    margin-top: 15px;
    font-size: 28px;
    color: @cinza;
  }
}

section#sobre-home, #sobre-tratamentos{
  float: left;
  width: 100%;
  padding: 70px 0;
  .box-sizing(border-box);
  background: @bege;
  font-family: @fontelight;
  p{
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 16px;
  }
}
section#institucional{
  float: left;
  width: 100%;
  padding: 70px 0 0;
  .box-sizing(border-box);
  background: @bege;
  font-family: @fontelight;
  p{
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 16px;
  }
  h2{
    margin-bottom: 20px;
    font-family: @fontemedium;
  }
  h3{
    font-size: 20px;
    margin: 20px 0;
    font-family: @fontemedium;
  }
}
.saibamais{
  text-align: center;
  margin-top: 40px;
  a{
    padding: 20px 30px;
    .box-sizing(border-box);
    border:1px solid @cinza;
    color: @cinza;
    font-size: 15px;
    font-family: @fonte !important;
    display: inline-block;
    .transicao;
    &:hover{
      background: @cinza;
      color: @white;
    }
    .fas{
      margin-left: 10px;
    }
  }
}
section#case-home{
  float: left;
  width: 100%;
  min-height: 700px;
  background: url('../images/bg01.jpg') center no-repeat;
  color: @white;
  @media(max-width: 768px){
    .backgroundcover;
    min-height: 400px;
  }
  h2{
    font-size: 40px;
    font-family: @fontelight;
    margin-bottom: 20px;
    margin-top: 50%;
    @media(max-width: 768px){
      margin-top: 10%;
    }
  }
  p{
    font-size: 14px;
    font-family: @fontelight;
  }
  a.btn-saibamais{
    padding: 20px 30px;
    .box-sizing(border-box);
    border:1px solid @white;
    color: @white;
    font-size: 15px;
    font-family: @fontelight;
    display: inline-block;
    .transicao;
    display: inline-block;
    margin-top: 30px;
    &:hover{
      background: @cinza;
      color: @white;
    }
    .fas{
      margin-left: 10px;
    }
  }
}

section#dicas-home{
  float: left;
  width: 100%;
  padding: 50px 0;
  .box-sizing(border-box);
  background: url('../images/bg02.jpg') center top no-repeat;
  @media(max-width: 768px){
    background: #ded1c1;
  }
  .box-dicas{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    img{
      width: 100%;
      margin-bottom: 15px;
    }
    a{
      color: @cinza;
    }
    h3{
      font-size: 20px;
      font-family: @fontemedium;
      margin-bottom: 10px;
      display: inline-block;
    }
  }
}

footer{
  float: left;
  width: 100%;
  background: @cinza;
  color: @bege;
  font-family: @fontelight;
  a{
    color: @bege;
    margin-right: 10px;
    .fab{
      font-size: 20px;
    }
  }
  #footer-top{
    float: left;
    width: 100%;
    padding: 40px 0;
    .box-sizing(border-box);
    border-top: 3px solid #f4f3eb;
    border-bottom: 3px solid #f4f3eb;
    h2{
      font-size: 20px;
      margin-bottom: 10px;
    }
    .box-footer{
      @media(max-width: 768px){
        margin-bottom:30px;
      }
    }
    p{
      font-size: 14px;
      margin-bottom: 5px;
      span{
        font-size: 12px;
      }
    }
  }
  #menufooter{
    float: left;
    width: 100%;
    border-bottom: 3px solid #f4f3eb;
    .box-sizing(border-box);
    text-align: center;
    #icon-btl{
      float: left;
      background: @bege;
      padding: 10px;
      .box-sizing(border-box);
    }
    li{
      display: inline-block;
      margin: 10px;
      font-size: 16px;
      padding: 12px 0;
      .box-sizing(border-box);
      a{
        color: @bege;
      }
    }
  }
  #footer-bottom{
    float: left;
    width: 100%;
    padding: 20px 0;
    .box-sizing(border-box);
    font-size: 12px;
    .desenvolvimento{
      text-align: right;
      @media(max-width: 768px){
        text-align: left;
        margin-top: 10px;
      }
    }
  }
}
.line-hr{
  margin: 40px 0;
  text-align: center;
}
section#contato{
  float: left;
  width: 100%;
  padding: 30px 0;
  min-height: 500px;
  margin-top: 60px;
  .box-sizing(border-box);
  background: url('../images/bgcontato.jpg') center no-repeat @bege;
  @media(max-width: 768px){
    background: @bege;
  }
  #formulario{
    .pd0{
      padding: 0;
    }
    span{
      font-size: 13px;
      font-family: @fontemedium;
      color: @cinza;
      margin-bottom: 10px;
    }
    input[type='text']{
      float: left;
      width: 100%;
      padding: 10px 20px;
      .box-sizing(border-box);
      background: @white;
      border: none;
      margin-bottom: 15px;
    }
    textarea{
      float: left;
      width: 100%;
      height: 150px;
      resize: none;
      padding: 10px 20px;
      .box-sizing(border-box);
      background: @white;
      border: none;
      margin-bottom: 15px;
    }
    input[type='submit']{
      float: left;
      width: 100%;
      border: none;
      padding: 10px 20px;
      text-align: center;
      font-family: @fontelight;
      font-size: 17px;
      color: @white;
      background:@cinza;
    }
  }
  #dados-contato{
    float: left;
    width: 100%;
    h2{
      margin-top: 30px;
      font-size: 20px;
      margin-bottom: 10px;
      font-family: @fontebold;
    }
    p{
      margin-bottom: 5px;
      span{
        font-size: 13px;
      }
    }
  }
}
section#mapa{
  float: left;
  width: 100%;
  margin-bottom: -10px;
}

section#cases-list{
  float: left;
  width: 100%;
  background: url('../images/bglogos.png') repeat @bege;
  margin-top: 60px;
  .container{
    background: #fefefa;
    padding: 30px;
    min-height: 500px;
  }
  .box-dicas-case{
    width: 100%;
    float: left;
    color: #666665;
    text-align: center;
    background: @white;
    padding: 0 30px;
    .box-sizing(border-box);
    @media(max-width: 768px){
      margin-bottom: 30px;
      background: @bege;
      padding: 30px;
    }
    img.imgcapa{
      width: 100%;
    }
    .pd0{
      padding: 0;
    }
    img.aspas{
      margin: 40px 0;
      display: inline-block;
      @media(max-width: 768px){
        height: 20px;
        margin: 10px 0;
      }
    }
    h2{
      font-family: @fontebold;
      font-size: 40px;
      margin-bottom: 20px;
      margin-top: 30px;
      @media(max-width: 768px){
        font-size: 20px;
      } 
    }
    p{
      margin-bottom: 20px;
      font-family: @fontelight;
      font-size: 15px;
      a{
        color: @cinza;
        font-family: @fontemedium;
      }
    }
  }
}

section#blog-list{
  float: left;
  width: 100%;
  background: url('../images/bglogos.png') repeat @bege;
  margin-top: 60px;
  .container{
    background: #fefefa;
    padding: 30px;
    min-height: 500px;
  }
  .pd0{
    padding: 0;
  }
  .tituloblog{
    margin-bottom: 40px;
    h1{
      font-family:@fonte;
      font-size: 35px;
    }
  }
  a{
    color: @cinza;
  }
  h2{
    font-family: @fontemedium;
    font-size: 20px;
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 15px;
    font-size: 15px;
    font-family: @fontelight;
  }
  img.capapost{
    margin: 10px 0;
  }
  hr{
    float: left;
    width: 100%;
    border: 1px solid #ececec;
  }
}
.sidebar{
  strong{
    font-family: @fontebold;
    font-size: 17px;
  }
  ul.categorias-arquivos{
    margin: 15px 0;
    float: left;
    width: 100%;
    strong{
      float: left;
      margin-bottom: 10px;
      float: left;
      width: 100%;
      font-family: @fontelight;
    }
    li{
      float: left;
      width: 100%;
      font-family: @fontelight;
      font-size: 15px;
      clear: both;
      margin-bottom: 5px;
      a{
        color: @cinza;
      }
    }
  }
}
#formulario-busca{
  float: left;
  width: 100%;
  border: 2px solid @bege;
  background: @white;
  margin: 10px 0 30px;
  input[type="text"]{
    float: left;
    padding: 14px 10px 10px;
    .box-sizing(border-box);
    background: none;
    width: 85%;
    border: none;
    outline-style: none;
    @media(max-width: 768px){
      width: 80%;
    }
  }
  button[type="submit"]{
    float: right;
    font-size: 20px;
    color: @cinza;
    border: none;
    background: none;
    padding: 6px 14px;
    .box-sizing(border-box);
    outline-style: none;
  }
}