@font-face {
    font-family: 'AzoSansBold';
    src: url('./fonts/azosans/AzoSans-Bold.woff2') format('woff2'),
        url('./fonts/azosans/AzoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSansMedium';
    src: url('./fonts/azosans/AzoSans-Medium.woff2') format('woff2'),
        url('./fonts/azosans/AzoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSans';
    src: url('./fonts/azosans/AzoSans-Regular.woff2') format('woff2'),
        url('./fonts/azosans/AzoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSansLite';
    src: url('./fonts/azosans/AzoSans-Light.woff2') format('woff2'),
        url('./fonts/azosans/AzoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSansThin';
    src: url('./fonts/azosans/AzoSans-Thin.woff2') format('woff2'),
        url('./fonts/azosans/AzoSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSansBlack';
    src: url('./fonts/azosans/AzoSans-Black.woff2') format('woff2'),
        url('./fonts/azosans/AzoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
