img {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  outline: none;
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  font-family: 'AzoSans' !important;
  font-weight: normal;
  overflow-x: hidden;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
a {
  text-decoration: none !important;
}
.alinhacentro {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.clear {
  clear: both;
}
.backgroundcover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.transicao {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.menu-switch {
  float: left;
  left: -52px;
  position: absolute;
  color: #21292a;
  background: none;
  padding: 10px 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 28px;
  display: none;
  cursor: pointer;
  top: 0;
  z-index: 999;
}
@media (min-width: 320px) and (max-width: 960px) {
  .menu-switch {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 960px) {
  .menu-switch {
    display: block;
  }
}
nav#menuresponsivo {
  right: -250px;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 9999;
  background: #ebe6dd;
}
nav#menuresponsivo li.title {
  padding: 7px 5%;
  background: #21292a;
  color: #FFF !important;
  font-weight: bold;
}
nav#menuresponsivo li {
  float: left;
  width: 100%;
  clear: both;
  font-size: 17px;
}
nav#menuresponsivo li a {
  float: left;
  clear: both;
  width: 100%;
  padding: 10px 5%;
  color: #21292a;
  font-weight: 600;
}
nav#menuresponsivo li a:hover {
  background: #21292a;
  color: #FFF;
}
.menu-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
}
section#site {
  float: left;
  overflow: hidden;
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
section#menubomile {
  width: 250px;
  float: right;
}
header {
  float: left;
  width: 100%;
  z-index: 9997;
  height: 60px;
  background: #ebe6dd;
  border-bottom: 3px solid #f4f3eb;
  position: fixed;
  top: 0;
}
@media (max-width: 768px) {
  header {
    -webkit-box-shadow: 0 0 30px #CCC;
    -moz-box-shadow: 0 0 30px #CCC;
    box-shadow: 0 0 30px #CCC;
  }
}
header #logo {
  margin-top: 13px;
}
header nav#menu {
  float: left;
  margin-top: 18px;
}
header nav#menu li {
  float: left;
  font-size: 15px;
  font-family: 'AzoSansLite';
  margin-left: 25px;
}
header nav#menu li:first-child {
  margin-left: 0;
}
header nav#menu li a {
  color: #21292a;
  padding-bottom: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 4px solid transparent;
}
header nav#menu li a:hover {
  border-color: #f4f3eb;
}
header #sociais-top {
  float: right;
  margin-top: 18px;
}
header #sociais-top a {
  float: left;
  margin: 0 5px;
  color: #21292a;
}
header #sociais-top a .fab {
  font-size: 20px;
}
#cboxOverlay {
  background: url('../images/overlay.png') repeat 0 0;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
#colorbox {
  outline: 0;
  z-index: 9999;
}
#cboxContent {
  overflow: visible;
  background: #FFF;
}
.cboxIframe {
  background: #fff;
  width: 100%;
  height: 100%;
}
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
#cboxLoadedContent {
  background: #FFF;
}
#cboxLoadingGraphic {
  background: url('../images/loading.gif') no-repeat center center;
}
#cboxLoadingOverlay {
  background: #000;
}
#cboxTitle {
  display: none;
}
.cboxPhoto {
  padding: 10px;
}
#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url('../images/controls.png') no-repeat 0 0;
}
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}
#cboxPrevious {
  background: url('../images/colorbox_prev.png') center no-repeat;
  width: 38px;
  height: 37px;
  left: 10px;
  top: 50%;
  position: absolute;
}
#cboxNext {
  background: url('../images/colorbox_next.png') center no-repeat;
  width: 38px;
  height: 37px;
  right: 10px;
  top: 50%;
  position: absolute;
}
#cboxClose {
  background: url('../images/btn_close.png') center no-repeat;
  width: 45px;
  height: 45px;
  right: 10px;
  top: 10px;
}
.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious {
  right: 66px;
}
.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px;
}
.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px;
}
#loader {
  z-index: 999999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/carregando.gif') 50% 50% no-repeat #FFF;
}
section#conteudopagina {
  min-height: 560px;
  float: left;
  width: 100%;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 960px) {
  section#conteudopagina {
    margin-top: 60px;
  }
}
section#conteudopagina .msg {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #21292a;
  font-family: 'AzoSans';
}
section#banner {
  float: left;
  width: 100%;
}
@media (max-width: 768px) {
  section#banner {
    margin-top: 60px;
  }
}
section#banner a.bx-prev {
  background: url('../images/btn_prev.png') no-repeat !important;
  width: 30px;
  height: 63px;
  z-index: 1;
}
section#banner a.bx-next {
  background: url('../images/btn_next.png') no-repeat !important;
  width: 30px;
  height: 63px;
  z-index: 1;
}
section#banner li {
  position: relative;
  height: 900px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 768px) {
  section#banner li {
    height: 400px;
  }
}
section#banner li .sobrebanner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #FFF;
}
@media (max-width: 768px) {
  section#banner li .sobrebanner {
    text-align: center;
  }
}
section#banner li .sobrebanner h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: 'AzoSans' !important;
}
@media (max-width: 768px) {
  section#banner li .sobrebanner h2 {
    font-size: 18px;
  }
}
section#banner li .sobrebanner p {
  font-size: 15px;
  line-height: 30px;
  font-family: 'AzoSansLite';
}
@media (max-width: 768px) {
  section#banner li .sobrebanner p {
    font-size: 13px;
  }
}
section#banner li .sobrebanner a.btn-saibamais {
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 15px;
  font-family: 'AzoSansLite';
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: inline-block;
  margin-top: 30px;
}
section#banner li .sobrebanner a.btn-saibamais:hover {
  background: #21292a;
  color: #FFF;
}
section#banner li .sobrebanner a.btn-saibamais .fas {
  margin-left: 10px;
}
.titulopag {
  text-align: center;
  margin-bottom: 40px;
}
.titulopag h2 {
  font-family: 'AzoSansMedium';
  margin-top: 15px;
  font-size: 28px;
  color: #21292a;
}
section#sobre-home,
#sobre-tratamentos {
  float: left;
  width: 100%;
  padding: 70px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ebe6dd;
  font-family: 'AzoSansLite';
}
section#sobre-home p,
#sobre-tratamentos p {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 16px;
}
section#institucional {
  float: left;
  width: 100%;
  padding: 70px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ebe6dd;
  font-family: 'AzoSansLite';
}
section#institucional p {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 16px;
}
section#institucional h2 {
  margin-bottom: 20px;
  font-family: 'AzoSansMedium';
}
section#institucional h3 {
  font-size: 20px;
  margin: 20px 0;
  font-family: 'AzoSansMedium';
}
.saibamais {
  text-align: center;
  margin-top: 40px;
}
.saibamais a {
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #21292a;
  color: #21292a;
  font-size: 15px;
  font-family: 'AzoSans' !important;
  display: inline-block;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.saibamais a:hover {
  background: #21292a;
  color: #FFF;
}
.saibamais a .fas {
  margin-left: 10px;
}
section#case-home {
  float: left;
  width: 100%;
  min-height: 700px;
  background: url('../images/bg01.jpg') center no-repeat;
  color: #FFF;
}
@media (max-width: 768px) {
  section#case-home {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
  }
}
section#case-home h2 {
  font-size: 40px;
  font-family: 'AzoSansLite';
  margin-bottom: 20px;
  margin-top: 50%;
}
@media (max-width: 768px) {
  section#case-home h2 {
    margin-top: 10%;
  }
}
section#case-home p {
  font-size: 14px;
  font-family: 'AzoSansLite';
}
section#case-home a.btn-saibamais {
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 15px;
  font-family: 'AzoSansLite';
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: inline-block;
  margin-top: 30px;
}
section#case-home a.btn-saibamais:hover {
  background: #21292a;
  color: #FFF;
}
section#case-home a.btn-saibamais .fas {
  margin-left: 10px;
}
section#dicas-home {
  float: left;
  width: 100%;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../images/bg02.jpg') center top no-repeat;
}
@media (max-width: 768px) {
  section#dicas-home {
    background: #ded1c1;
  }
}
section#dicas-home .box-dicas {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
section#dicas-home .box-dicas img {
  width: 100%;
  margin-bottom: 15px;
}
section#dicas-home .box-dicas a {
  color: #21292a;
}
section#dicas-home .box-dicas h3 {
  font-size: 20px;
  font-family: 'AzoSansMedium';
  margin-bottom: 10px;
  display: inline-block;
}
footer {
  float: left;
  width: 100%;
  background: #21292a;
  color: #ebe6dd;
  font-family: 'AzoSansLite';
}
footer a {
  color: #ebe6dd;
  margin-right: 10px;
}
footer a .fab {
  font-size: 20px;
}
footer #footer-top {
  float: left;
  width: 100%;
  padding: 40px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 3px solid #f4f3eb;
  border-bottom: 3px solid #f4f3eb;
}
footer #footer-top h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  footer #footer-top .box-footer {
    margin-bottom: 30px;
  }
}
footer #footer-top p {
  font-size: 14px;
  margin-bottom: 5px;
}
footer #footer-top p span {
  font-size: 12px;
}
footer #menufooter {
  float: left;
  width: 100%;
  border-bottom: 3px solid #f4f3eb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
footer #menufooter #icon-btl {
  float: left;
  background: #ebe6dd;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer #menufooter li {
  display: inline-block;
  margin: 10px;
  font-size: 16px;
  padding: 12px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer #menufooter li a {
  color: #ebe6dd;
}
footer #footer-bottom {
  float: left;
  width: 100%;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
}
footer #footer-bottom .desenvolvimento {
  text-align: right;
}
@media (max-width: 768px) {
  footer #footer-bottom .desenvolvimento {
    text-align: left;
    margin-top: 10px;
  }
}
.line-hr {
  margin: 40px 0;
  text-align: center;
}
section#contato {
  float: left;
  width: 100%;
  padding: 30px 0;
  min-height: 500px;
  margin-top: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../images/bgcontato.jpg') center no-repeat #ebe6dd;
}
@media (max-width: 768px) {
  section#contato {
    background: #ebe6dd;
  }
}
section#contato #formulario .pd0 {
  padding: 0;
}
section#contato #formulario span {
  font-size: 13px;
  font-family: 'AzoSansMedium';
  color: #21292a;
  margin-bottom: 10px;
}
section#contato #formulario input[type='text'] {
  float: left;
  width: 100%;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  border: none;
  margin-bottom: 15px;
}
section#contato #formulario textarea {
  float: left;
  width: 100%;
  height: 150px;
  resize: none;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  border: none;
  margin-bottom: 15px;
}
section#contato #formulario input[type='submit'] {
  float: left;
  width: 100%;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-family: 'AzoSansLite';
  font-size: 17px;
  color: #FFF;
  background: #21292a;
}
section#contato #dados-contato {
  float: left;
  width: 100%;
}
section#contato #dados-contato h2 {
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'AzoSansBold';
}
section#contato #dados-contato p {
  margin-bottom: 5px;
}
section#contato #dados-contato p span {
  font-size: 13px;
}
section#mapa {
  float: left;
  width: 100%;
  margin-bottom: -10px;
}
section#cases-list {
  float: left;
  width: 100%;
  background: url('../images/bglogos.png') repeat #ebe6dd;
  margin-top: 60px;
}
section#cases-list .container {
  background: #fefefa;
  padding: 30px;
  min-height: 500px;
}
section#cases-list .box-dicas-case {
  width: 100%;
  float: left;
  color: #666665;
  text-align: center;
  background: #FFF;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  section#cases-list .box-dicas-case {
    margin-bottom: 30px;
    background: #ebe6dd;
    padding: 30px;
  }
}
section#cases-list .box-dicas-case img.imgcapa {
  width: 100%;
}
section#cases-list .box-dicas-case .pd0 {
  padding: 0;
}
section#cases-list .box-dicas-case img.aspas {
  margin: 40px 0;
  display: inline-block;
}
@media (max-width: 768px) {
  section#cases-list .box-dicas-case img.aspas {
    height: 20px;
    margin: 10px 0;
  }
}
section#cases-list .box-dicas-case h2 {
  font-family: 'AzoSansBold';
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  section#cases-list .box-dicas-case h2 {
    font-size: 20px;
  }
}
section#cases-list .box-dicas-case p {
  margin-bottom: 20px;
  font-family: 'AzoSansLite';
  font-size: 15px;
}
section#cases-list .box-dicas-case p a {
  color: #21292a;
  font-family: 'AzoSansMedium';
}
section#blog-list {
  float: left;
  width: 100%;
  background: url('../images/bglogos.png') repeat #ebe6dd;
  margin-top: 60px;
}
section#blog-list .container {
  background: #fefefa;
  padding: 30px;
  min-height: 500px;
}
section#blog-list .pd0 {
  padding: 0;
}
section#blog-list .tituloblog {
  margin-bottom: 40px;
}
section#blog-list .tituloblog h1 {
  font-family: 'AzoSans';
  font-size: 35px;
}
section#blog-list a {
  color: #21292a;
}
section#blog-list h2 {
  font-family: 'AzoSansMedium';
  font-size: 20px;
  margin-bottom: 10px;
}
section#blog-list p {
  margin-bottom: 15px;
  font-size: 15px;
  font-family: 'AzoSansLite';
}
section#blog-list img.capapost {
  margin: 10px 0;
}
section#blog-list hr {
  float: left;
  width: 100%;
  border: 1px solid #ececec;
}
.sidebar strong {
  font-family: 'AzoSansBold';
  font-size: 17px;
}
.sidebar ul.categorias-arquivos {
  margin: 15px 0;
  float: left;
  width: 100%;
}
.sidebar ul.categorias-arquivos strong {
  margin-bottom: 10px;
  float: left;
  width: 100%;
  font-family: 'AzoSansLite';
}
.sidebar ul.categorias-arquivos li {
  float: left;
  width: 100%;
  font-family: 'AzoSansLite';
  font-size: 15px;
  clear: both;
  margin-bottom: 5px;
}
.sidebar ul.categorias-arquivos li a {
  color: #21292a;
}
#formulario-busca {
  float: left;
  width: 100%;
  border: 2px solid #ebe6dd;
  background: #FFF;
  margin: 10px 0 30px;
}
#formulario-busca input[type="text"] {
  float: left;
  padding: 14px 10px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  width: 85%;
  border: none;
  outline-style: none;
}
@media (max-width: 768px) {
  #formulario-busca input[type="text"] {
    width: 80%;
  }
}
#formulario-busca button[type="submit"] {
  float: right;
  font-size: 20px;
  color: #21292a;
  border: none;
  background: none;
  padding: 6px 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline-style: none;
}
